# TEMP
models/
fixtures/
db/
temp/

# NODE
node_modules/

# IDE
.idea/

# LLM
.code-review-graph/
.claude/
.gemini/
.github/
.kiro/
.qoder/
.vscode/
.cursorrules
.mcp.json
.opencode.json
.windsurfrules
AGENTS.md
CLAUDE.md
GEMINI.md
QODER.md
